
/*for scrolling right*/
body{
  overflow: auto;
  padding-top:51px;
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
body,
html{
height:100%;
width:100%;

}

/*nav bar*/
img {
  height:35px;
  width:35px;
}

a.navbar-brand {
  padding-top:10px;
}
.navbar-default{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  /*z-index: -1;*/
}

/*li > a{*/
  /*border: 1px solid red;*/
/*}*/

/*holding lists*/
main{
  display: flex;
  /*background-color: #ffffcc;*/
  height: 100%;
  overflow: auto;
  padding-top:20px;

  /*flex-wrap: nowrap;*/
}

.PopUpMenuHide{
  /*position: absolute;*/
  /*top: 0;*/
  /*left:0;*/
  /*display: inline-block;*/
}

/*.modal-content{*/
  /*position: absolute;*/
  /*top: 10%;*/
/*}*/
.members-input{
  width:  50%;
}
.btn-delete-size{
  height:40px;
  /*width:50px; */
  margin-top:20px;
}
.modal{
  background-color: rgba(0, 0, 0, .5);
  /*top: -5%;*/
}

.member-list{
  display: flex;
  flex-direction: column;
  overflow: auto;
  height:100px;
}

#mainCardHolders {
  display: flex;
  flex-direction: row;
  /*position: relative;*/
}

.openerTag,
.closerTag{
  background-color: #F8F8F8;
  width:100%;
  height:40px;
  display: flex;
  justify-content: center;
  align-items: center;



  }
.closerTag {
  border-radius: 0 0 5px 5px;
  /*box-shadow: op: -4px;
  border-r0 -1px 6px 0;*/
  position: relative;
  /*margin-top:10px;*/
}
.openerTag{
  /*box-shadow: 0 1px 6px 0;*/
  /*margin-bottom: 10px;*/
  position: relative;
  border-radius: 5px 5px 0 0 ;
}
/*.openerTag{*/
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/

/*}*/
/*.closerTag {*/
  /*position: absolute;*/
  /*bottom: -10vh;*/
  /*left: 0;*/
/*}*/

.oneLists{
  min-width: 300px;

  /*min-height: 60vh;*/
  margin-right: 3%;
  margin-left:1%;

  /*position: relative;*/
  /*bottom:10px;*/
}
.ulForCards{
  overflow: auto;
  /*max-height: 70vh;*/
  max-height: calc(95vh - 150px);
  min-height: 15vh;
  /*background-color:  #F1F1F1;*/
  /*background-color:  ghostwhite;*/
  padding-bottom:10px;
  padding-top:10px;
  border: 1px solid #F8F8F8;

  /*height:65vh;   !*should be the size of the X amount of cards*!*/
  /*overflow: auto;*/
  /*max-height: 65vh;*/
  padding-left: 0;
  margin-bottom: 0;
  /*margin-right:2px;*/
  /*margin-left: 2px;*/
  /*position: absolute;*/
  /*top: 8vh;*/
  /*left: 0;*/
  /*width:100%;*/
  /*should have a max height*/
  /*should have a min height*/


}
.card{
  min-height: 150px;
  width:95%;
  /*background-color: aliceblue;*/
  background-color: white;
  list-style-type: none;
  /*border: 1px solid blue;*/
  box-shadow: 0 1px 2px 0 ;

  display: flex;
  justify-content: center;
  position: relative;
  /*overflow: hidden;*/

  margin:0 auto;
  margin-bottom: 5px;
  margin-top:3px;

}
.edit-Card-Button{
  position: absolute;
  top: 0;
  right: -5%;
  width:20%;
  height:35px;
  display: none;

}

.cardInnerText{
  margin-bottom:35px;
  overflow: hidden;
  padding-right: 10px;
  padding-left: 5px;
}
.label-holder{
  position: absolute;
  bottom: 5%;
  right: 2%;
  display: inline-block;
  /*cursor: context-menu;*/
  cursor: help;
}

.label-holder .label{
  margin-right: 2px;
}

.label-holder .label:hover{

}

.card:hover > .edit-Card-Button {
  display: inline-block;
}

/*ul{*/
  /*padding-left: 0;*/
/*}*/

/*#howBigItWillBe{*/
  /*height: 400px;*/

/*}*/

button{
  height:50px;
  margin-right: 20px;
  }

.add-button:hover {
  background-color: #96cde9;
}


.badge {
  position: absolute;
  top: 10px;
  left: 5px;
  width:19px;
  border-radius: 30px;

  /*background-color: white;*/
}


.tagText{
  width: 60%;
  background-color: #F8F8F8;
  display: inline-block;
  padding: 0 auto;
  /*display: flex;*/
  /*justify-content: center;*/

}
.tagText:focus{
  /*outline: none;*/

}

.tagText {
  font-weight: 600;
}



/*.openerTag{*/
  /*display: flex;*/
  /*flex-direction: row-reverse;*/
  /*justify-content: space-around;*/

/*}*/


.dropdown-toggle{
  width: 25px;
  height:30px;

}

.btn-group{
  position: absolute;
  top: 5px;
  right: 0;
}

.inputTag{
  width:60%;
  height:71%;

  /*position: absolute;*/
  /*top: 6px;*/
  /*right: 15%;*/
}

.dropdown-menu{
  left:-130px;
}

/*panels hover rules*/

.openerTag:hover  .tagText{
  /*background-color: #FfFfFf;*/
  cursor: pointer;
}
.closerTag:hover{
  background-color: #d6d6d6;
  cursor: pointer;
}

/*.inputTag:focus{*/
  /*outline: none;*/
  /*border: 1px solid transparent;*/
  /*background-color: #F8F8F8;*/

/*}*/


.new-member-input{
  width:50%;
  margin-left:20px;
  margin-right: 20px;
  margin-bottom:20px;
}
.btn-add-member{
  height:35px;
  margin-bottom:10px;

}

@media (max-width: 871px) {

  .nav > li {
    /*float: right;*/
    display: inline-block;
  }
.navbar-header{
  display: inline-block;
}

.navbar-nav{
    float: right;
    display: inline-block;
  }
}

.member-page{
  position: absolute;
  z-index: 10;
  width:600px;


}
.member-page:hover{

}

.member-save-changes-btn{
  display: none;
  float: right;
}

.edit-member-btn{
  display: none;
  float: right;
}
.member-in-list:hover .seen{
  display: block;
}

.member-in-list {
  height:70px;

  display: flex;
  /*flex-direction: column;*/
  justify-content: space-between;
}
.member-in-list > p {
  line-height: 50px;
  font-size: 18px;
  display: inline-block;
  /*border: 1px solid red;*/
}


.displayState {
  /*visibility: hidden;*/
  display: none;
}

.memebr-name {
  font-size: 18px;

  line-height: 70px;
}
/*todo: do not forget to move this when shit is working */
#mainCardHolders{
  /*display: none;*/
}
.member-page{
  /*display: none;*/
}
